@tailwind base;
@tailwind components;
@tailwind utilities;

.bubblesFont {
  font-family: "Fuzzy Bubbles", cursive;
}

.shantellFont {
  font-family: "Shantell Sans", cursive;
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
  }
}
